:root {
  --color-bg-gray: #cccccc;
  --color-process-current: #1e2ede;
  --color-btn-save: #474747;
  --color-btn-next: #0d3b66;
  --color-btn-cancel: #e74a3b;
}

.createSyllabus {
  width: 100%;
}

.createHeader {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
  padding-top: 10px;
}

.titleCreateSyll {
  padding: 20px 10px 0px 20px;
  margin-right: 20px;
}

.process {
  position: relative;
}

.processCreate {
  width: 400px;
  height: 14px;
  background-color: var(--color-bg-gray);
  border-radius: 10px;
}

.titleProcess {
  width: 400px;
  justify-content: space-around;
  display: flex;
}

.processCurrent {
  background-color: var(--color-process-current);
  border-radius: 10px;
  height: 14px;
}

.circlePoint {
  border-radius: 50%;
  margin-right: 1px;
}

/* Create Content */

.createContent {
  border-top: 1px solid black;
  display: flex;
  margin-bottom: 20px;
}

.contentLeft {
  width: 75%;
  border-right: 1px solid black;
}

.contentRight {
  width: 25%;
}

/* .inforSyllabus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.syllabusName,
.syllabusCode,
.syllabusVersion {
  background-color: white;
  padding: 5px 2px;
}

.syllabusCode,
.syllabusVersion {
  margin: 0px 30px;
}

.syllabusName input {
  padding: 5px;
  border-radius: 10px;
  width: 260px;
  font-weight: 700;
  border: 2px solid black;
}

.inforSyllabus label {
  margin-right: 10px;
}

/* #syllVersion {
  color: var(--color-bg-gray);
  display: inline-block;
} */

.syllabusCode,
.syllabusVersion {
  display: flex;
  align-items: center;

  height: 30px;
}

label {
  font-weight: 700;
}

.syllabusVersion p {
  color: var(--color-bg-gray);
}

/* .menu {
  border-bottom: 1px solid black;
} */

.menu p {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .hr {
  background-color: black;
} */

.general {
  border-top: 1px solid black;
  height: 600px;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.outline {
  height: 600px;
  border-top: 1px solid black;
  padding-right: 10px;
  overflow-y: scroll;
}

/* .outline::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
} */

.outline::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.outline::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

.timeAllocation {
  width: 100%;
  justify-content: center;
}

.timeHasPercent,
.timeNoPercent,
.training {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
}

.timeHasPercent {
  height: 100%;
}

.timeNoPercent {
  height: 100%;
}

.timeHasPercent h3,
.timeNoPercent h3,
.assessment h3,
.training h3 {
  text-align: center;
  padding: 5px 0;
  background-color: #2d3748;
  color: white;
  font-weight: 600;
}

.pieChart {
  padding: 10px 0px;
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.timeDetails {
  width: 180px;
  margin: 0 auto;
  padding: 10px 0px;
}

.generalLevel,
.generalAttendee,
.generalTechnical,
.generalCourse {
  display: flex;
  margin-bottom: 10px;
}

.generalLevel,
.generalAttendee {
  align-items: center;
}

.generalTechnical,
.generalCourse {
  flex-direction: column;
}

.generalLevel label,
.generalAttendee label {
  margin-right: 20px;
}

.general select,
.general input,
.general textarea {
  border: 1px solid black;
}

.general select {
  width: 300px;
  border-radius: 10px;
  padding: 5px 5px;
}

.generalAttendee input {
  width: 120px;
  padding: 3px 5px;
  border-radius: 10px;
}

/* .generalTechnical label {
  margin-bottom: 10px;
} */

.generalTechnical textarea {
  border-radius: 10px;
  height: 150px;
  padding: 10px;
}

.editorCourse {
  height: 280px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.demo-editor {
  padding: 0px 10px;
  height: 170px;
}

.footerCreate {
  margin-bottom: 20px;
  margin-right: 20px;
  font-weight: 600;
  display: flex;
}

.footerCreate button {
  padding: 7px 30px;
  color: white;
}

.footerCreate a {
  color: var(--color-btn-cancel);
  text-decoration: underline;
  font-weight: 600;
}

.save {
  background-color: var(--color-btn-save);
  margin: 0 20px;
  border-radius: 10px;
}

.next {
  background-color: var(--color-btn-next);
  border-radius: 10px;
}

/* OtherCreate */

.others {
  padding-top: 10px;
}

.assessment {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  overflow: hidden;
}

.calcPoint {
  height: 216px;
  padding: 10px 20px;
}

.training {
  height: 51%;
}

.training h3 {
  text-align: left;
  padding-left: 20px;
}

.trainingEditor {
  padding: 10px;
  height: 92%;
}

/* Popup */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  width: 470px;
  height: 250px;
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.headerPop {
  border-bottom: 1px solid black;
  padding: 10px 0;
  align-items: baseline;
}

.popup_inner p {
  margin-top: 20px;
}
