:root {
  --color-bg-gray: #cccccc;
  --color-process-current: #1e2ede;
}

.createSyllabus {
  width: 100%;
}

.createHeader {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}

.titleCreateSyll {
  padding: 20px 10px 0px 20px;
}

.process {
  position: relative;
}

.processCreate {
  width: 400px;
  height: 14px;
  background-color: var(--color-bg-gray);
  border-radius: 10px;
}

.titleProcess {
  width: 400px;
  justify-content: space-around;
  display: flex;
}

.processCurrent {
  background-color: var(--color-process-current);
  height: 14px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.circlePoint {
  width: 11px;
  height: 11px;
  float: right;
  background-color: white;
  border-radius: 50%;
  margin-right: 1px;
}

/* Create Content */

.createContent {
  border-top: 1px solid black;
  display: flex;
}

.contentLeft {
  width: 80%;
  height: 20px;
  border-right: 1px solid black;
}

.contentRight {
  width: 20%;
  height: 20px;
}

.inforSyllabus {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
}

.syllabusName,
.syllabusCode,
.syllabusVersion {
  background-color: white;
  padding: 5px 2px;
 
}

.syllabusCode,
.syllabusVersion {
  margin: 0px 30px;
}

.syllabusName input {
  padding: 5px;
  border-radius: 10px;
  width: 260px;
  font-weight: 700;
}

.inforSyllabus label {
  margin-right: 10px;
}

/* #syllVersion {
  color: var(--color-bg-gray);
  display: inline-block;
} */

.syllabusCode,
.syllabusVersion {
  display: flex;
}

label {
  font-weight: 700;
}

.syllabusVersion p {
  color: var(--color-bg-gray);
}
