:root {
  --color-bg-gray: #cccccc;
  --color-process-current: #1e2ede;
}

.createSyllabus {
  width: 100%;
}

.createHeader {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
  padding-top: 10px;
}

.titleCreateSyll {
  padding: 20px 10px 0px 20px;
  margin-right: 20px;
}

.process {
  position: relative;
}

.processCreate {
  width: 400px;
  height: 14px;
  background-color: var(--color-bg-gray);
  border-radius: 10px;
}

.titleProcess {
  width: 400px;
  justify-content: space-around;
  display: flex;
}

.processCurrent {
  background-color: var(--color-process-current);
  border-radius: 10px;
}

.circlePoint {
  border-radius: 50%;
}

/* Create Content */

.createContent {
  border-top: 1px solid black;
  display: flex;
}

.contentLeft {
  width: 80%;
  border-right: 1px solid black;
}

/* .contentRight {
  width: 20%;
  height: 20px;
} */

/* .inforSyllabus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.syllabusName,
.syllabusCode,
.syllabusVersion {
  background-color: white;
  padding: 5px 2px;
}

.syllabusCode,
.syllabusVersion {
  margin: 0px 30px;
}

.syllabusName input {
  padding: 5px;
  border-radius: 10px;
  width: 260px;
  font-weight: 700;
  border: 2px solid black;
}

.inforSyllabus label {
  margin-right: 10px;
}

/* #syllVersion {
  color: var(--color-bg-gray);
  display: inline-block;
} */

.syllabusCode,
.syllabusVersion {
  display: flex;
  align-items: center;

  height: 30px;
}

label {
  font-weight: 700;
}

.syllabusVersion p {
  color: var(--color-bg-gray);
}

/* .menu {
  border-bottom: 1px solid black;
} */

.menu p {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


/* .hr {
  background-color: black;
} */

.general {
  border-top: 1px solid black;
  height: 500px;
  padding-left: 30px;
}